<div class="app-about-us">
    <div>
        <h1>About Us</h1>
        <p>At Recipen, we believe that cooking should be enjoyable and accessible to everyone. That’s why we strive to provide easy-to-follow recipes, helpful cooking tips, and informative articles to enhance your culinary skills. Whether you’re a seasoned chef or a beginner cook, our goal is to empower you to create mouthwatering dishes that will impress your family and friends. Join us on this culinary journey and let’s explore the world of flavors together!</p>
    </div>
    <img src="../../../assets/about-us.jpg" alt="about-us-image">
</div>
