.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;

  span {
    font-size: 16px;
    color: var(--gray-700);
    line-height: 150%;
    text-align: center;
  }
}
