.app-browse-cuisine {
  padding: 24px 48px;

  h1 {
    font-size: 3.125rem;
    color: var(--martinique);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin-top: 0px;
    margin-bottom: 24px;
  }
}
